.default-template {
  width: 100%;
  height: 100vh;

  header,
  main,
  footer {
    color: #fff;
    padding: 3rem;
  }

  aside {
    img {
      width: 160px;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
  header {
    width: 100%;
    display: flex;
    // background-color: rgb(53, 53, 53);
    line-height: normal;
    padding: 0;
    // height: ;
  }
  main {
    color: black;
    max-height: 100%;
    overflow-y: auto;
  }
  footer {
    background-color: #0958d9;
  }
}
